{{#bs-modal class="mobile-warning-modal__container" open=open onHidden=(action "closeModal") closeButton=false as |modal|}}
    {{#modal.header class="mobile-warning-modal__header"}}
      <h4 class="mobile-warning-modal__title">
        <img class="mobile-warning-modal__icon" src="/images/icon-mobile-support-warning.svg" alt="Message d'alerte concernant le support des terminaux mobiles"/>
      </h4>
    {{/modal.header}}
    {{#modal.body class="mobile-warning-modal__body"}}
      <p class="mobile-warning-modal__text">Certaines épreuves PIX peuvent être difficiles à réussir sur mobile. Pour une meilleure expérience, nous vous conseillons de passer ce test sur un ordinateur.</p>
    {{/modal.body}}
    {{#modal.footer class="mobile-warning-modal__footer"}}
      <div class="modal-button-container">
        <button class="btn btn-primary mobile-warning-modal__confirm-button" type="button" {{action "startCourse"}}>Continuer</button>
      </div>
      <div class="modal-button-container">
        <a class="mobile-warning-modal__dismiss-link" href="" {{action "closeModal"}}>Revenir à l’accueil</a>
      </div>
    {{/modal.footer}}
{{/bs-modal}}